<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fitnessbet.betting.model.dao.BettingDao">
	<resultMap type="Betting" id="BettingWithChallengerInfo" autoMapping="true">
		<id property="id" column="id"/>
		<association property="user" javaType="User" autoMapping="true">
			<id property="id" column="userid"/>
		</association>
	</resultMap>
	
	<resultMap type="BettingHistory" id="BettingHistoryWithBettingInfo" autoMapping="true">
		<id property="id" column="id"/>
		<association property="betting" javaType="Betting" autoMapping="true">
			<id property="id" column="betid"/>
		</association>
	</resultMap>

	<select id="selectAll" resultMap="BettingWithChallengerInfo" parameterType="Betting">
		SELECT B.id, B.challenger, B.mission_id, B.mission_cnt, B.success_cnt, B.fail_cnt, B.success_point, B.fail_point, B.result, B.reg_date, U.id userid, U.campus, U.class_num
		  FROM BETTING B
		 INNER JOIN USER U
		    ON B.challenger = U.id
		 WHERE U.campus = #{user.campus}
		   AND U.class_num = #{user.classNum}
		   <if test="result == 0">
		   AND (B.result IS NULL OR B.result = 0)
		   </if>
		   <if test="result != 0">
		   AND (B.result = 1 OR B.result = -1)
		   </if>
	</select>
	
	<insert id="insertBetting" parameterType="Betting">
		INSERT INTO BETTING (challenger, mission_id, mission_cnt,reg_date)
		VALUES (#{challenger}, #{missionId}, #{missionCnt}, current_timestamp())
	</insert>
	
	<insert id="addBetHistory" parameterType="BettingHistory">
		INSERT INTO BETTING_HISTORY (betting_id, player, point, choice)
		VALUES (#{bettingId}, #{player}, #{point}, #{choice})
	</insert>
	
	<update id="joinBetting" parameterType="Betting">
		UPDATE BETTING
		   SET success_cnt = #{successCnt}, fail_cnt = #{failCnt}, success_point = #{successPoint}, fail_point = #{failPoint}
		 WHERE id = #{id}
	</update>
	
	<update id="finishBetting" parameterType="Betting">
		UPDATE BETTING
		   SET result = #{result}
		 WHERE id = #{id}
	</update>
	
	<select id="selectOneBettingById" parameterType="int" resultType="Betting">
		SELECT * FROM BETTING WHERE id = #{bettingId}
	</select>
	
	<update id="changeBettingStatusDone" parameterType="int">
		UPDATE BETTING
		   SET result = 0
		 WHERE id = #{id}
	</update>
	
	<select id="selectWinner" parameterType="Betting" resultType="BettingHistory">
		SELECT * FROM BETTING_HISTORY WHERE betting_id = #{id} AND choice = #{result}
	</select>
	
	<select id="selectBettingHistoryByUserId" parameterType="String" resultMap="BettingHistoryWithBettingInfo">
		SELECT bh.id, bh.player, bh.bettingId, bh.point, bh.choice, b.id betid, b.challenger, b.missionId, b.missionCnt, b.successCnt, b.failCnt, b.successPoint, b.failPoint, b.result, b.regDate
		  FROM BETTING_HISTORY bh
		 INNER JOIN BETTING b
		    ON b.id = bh.betting_id
		 WHERE bh.player = #{id}
	</select>
	
	<select id="selectChallengerBettingHistory" parameterType="String" resultMap="BettingHistoryWithBettingInfo">
		SELECT bh.id, bh.player, bh.bettingId, bh.point, bh.choice, b.id betid, b.challenger, b.missionId, b.missionCnt, b.successCnt, b.failCnt, b.successPoint, b.failPoint, b.result, b.regDate
		  FROM BETTING_HISTORY bh
		 INNER JOIN BETTING b
		    ON b.id = bh.betting_id
		 WHERE b.challenger = #{id}
	</select>
	
</mapper>