<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fitnessbet.mission.model.dao.MissionDao">

	<insert id="insertMission" parameterType="Mission" >
		INSERT INTO MISSION (content, min_m, max_m, min_w, max_w)
		VALUES (#{content}, #{maleMin}, #{maleMax}, #{femaleMin},#{femaleMax});
	</insert>
	
	<delete id="deleteMission" parameterType="int">
		DELETE FROM MISSION
		WHERE id = #{id};
	</delete>
	
	<update id="updateMission" parameterType="Mission">
		UPDATE MISSION SET 
		content = #{content},
		min_m = #{maleMin},
		max_m = #{maleMax},
		min_w = #{femaleMin},
		max_w = #{femaleMax}
		WHERE id = #{id};
	</update>
	
	<select id="selectOne" parameterType="int" resultType="Mission">
		SELECT * FROM MISSION WHERE id = #{id};
	</select>

	<select id = "selectAll" resultType="Mission">
		SELECT id , content, min_m as maleMin, max_m as maleMax, min_w as femaleMin, max_w as femaleMax 
		FROM MISSION;
	</select>
	
	<!-- 현재 존재하는 미션의 개수 반환 -->
	<select id = "countAll" resultType="int">
		SELECT count(*) FROM MISSION;
	</select>
	
	<!-- 존재하는 미션 중 randomNum 번째 index에 있는 미션 반환 -->
	<select id = "selectMissionByIndex" parameterType="int" resultType="Mission">
		SELECT id , content, min_m as maleMin, max_m as maleMax, min_w as femaleMin, max_w as femaleMax
		FROM MISSION
		LIMIT 1 OFFSET #{randomNum};
	</select>
	
		
	
	
</mapper>