<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fitnessbet.product.model.dao.Product">

	<select id="selectAllProduct" resultType="Product">
		SELECT * FROM PRODUCT WHERE del_yn = 0;
	</select>
	
	<select id="selectOneProductById">
		SELECT * FROM PRODUCT WHERE id = #{id}
	</select>
	
	<insert id="insertProduct" parameterType="Product">
		INSERT INTO PRODUCT (name, price, img, point)
		VALUES (#{name}, #{price}, #{img}, #{point})
	</insert>
	
	<update id="updateProduct">
		UPDATE PRODUCT SET img = #{img}, name = #{name}, point = #{point}, price = #{price}, del_yn = #{delYn} WHERE id = #{id}
	</update>
</mapper>